<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/home.css">

    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
</head>
<body>
    
    <img class="back" src="15Z_2102.w026.n002.163B.p1.163.jpg" alt="img">
    <div class="head">
        <h1>Attendance System Through Face Recognition</h1>
    </div>
    <div class="wrapper">
        <div class="container">
            <input type="radio" name="slide" id="c1" >
            <label for="c1" class="card">
                <div class="row">
                    <div class="icon">1</div>
                    <div class="description"> 
                        <button class="button"><span><h3>Add a new face</h3></span></button>
                        <p>Keep your face in the frame until 100 images are captured then press "q" button from keyboard to exit.</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c2" >
            <label for="c2" class="card">
                <div class="row">
                    <div class="icon">2</div>
                    <div class="description">
                        <button class="button"><span><h3>Mark Attendance</h3></span></button>
                        <p>Press "o" button from your key board to take attendance and "q" button to exit.</p>
                    </div>
                </div>
            </label>
            <input type="radio" name="slide" id="c3" >
            <label for="c3" class="card">
                <div class="row">
                    <div class="icon">3</div>
                    <div class="description">
                        <button class="button"><span><h3>View Attendance</h3></span></button>
                        <p>Takes you to database to view your attendance.</p>
                    </div>
                </div>
            </label>
        </div>
    </div> 
</body>
</html>